html {
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.top{
    background-image: url(https://www.twopeasandtheirpod.com/wp-content/uploads/2021/06/Vanilla-Pudding-Chocolate-Chip-Cookies-13.jpg);
    background-position: center;
    background-repeat: space;
    margin: 0;
}

body{
    margin: 0;
}

h1{ 
    font-size: 30pt;
    color: darksalmon;
    font-style: italic;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

#title {
    margin-bottom: 20px;
    opacity: 70%;
}

#subtitle {
    font-size: 55pt;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: underline;
    color: darksalmon;
}

#subtitle2{
    font-size: 15pt;
    margin-top: 0;
    padding-top: 0;
}

h2{ 
    font-size: 60pt;
    color: darksalmon;
    text-align: center;
    line-height: 6rem;
    margin-top: 0;
}

h3{ 
    font-size: 30pt;
    color: darksalmon;
    text-align: center;
    line-height: 2rem;
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15pt;
    color: black;
    text-align: center;
    font-weight: 400;
}

h5 {
    font-size: 20pt;
    font-style: italic;
    font-style: thin;
    text-align: center;
    color: darksalmon;
}

h6 {
    text-align: center;
    font-size: 10pt;
}

h7 {
    font-family: 'Roboto Condensed', sans-serif;
}

h8{ 
    font-size: 26pt;
    color: white;
    font-weight: bold;
    margin-top: 5;
    margin-bottom: 10px;
}

h9{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20pt;
    color: black;
    margin-bottom: 10px;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    flex-direction: column;
    background-color: darksalmon;
    padding-top: 7px;
    height: 300px;
    margin-top: 1000px;
}


a{ 
    color: white;
}

.step1{
    background-color: white;
    opacity: 60%;
}
.header{
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns:10fr 10fr; 
    margin: auto;
    background-color: darksalmon;
    padding-top: 15px;
}

.grid li{
    width: 95%;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid img {
    width: 100%;
    height: auto;
}

ul.grid {
    display: grid;
    grid-template-columns:10fr 10fr;
}

#finalstep{
    background-color: darksalmon;
    /* width: 95%; */
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 15px;
    grid-template-columns:10fr; 
    margin: auto;
    padding-top: 15px;
}

#finalstep li{
    width: 95%;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#finalstep ul {
    display: grid;
    grid-template-columns:10fr;
}

/* .step5{
    background-color: white;
    opacity: 60%;
    margin-left: 380px;
    margin-right: 380px;
} */

.row {
  display: flex;
  border: solid 10px darksalmon;
}

.column1 {
  flex: 50%;
  line-height: 2.8rem;
  column-count: 2 600px;
  column-rule-style: solid;
  column-rule-color: aliceblue;
  /* padding: 20px; */
  max-width: 80%;
}
.column2 {
    flex: 50%;
    line-height: 0.8rem;
    column-count: 2 600px;
    column-rule-style: solid;
    column-rule-color: aliceblue;
    border-left: solid 10px darksalmon;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.nutrition{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 400;
}
.ingredients{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
    color: black;
    text-align: center;
    font-weight: 400;
}

.tips{
    display: grid;
    grid-template-columns:5fr 5fr; 
    margin: auto;
    line-height: 150%;
    background-color: #ffcfc3;
    font-size: 20px;
    list-style-type: none;
    
}

.darkbox{
    background-color: darksalmon;
    padding: 15px;
}

.lightbox{
    padding: 15px;
}

#box1{
    padding-top: 32px;
}

#box7{
    padding-top: 32px;
}

#box10{
    padding-top: 70px;
}

#specialtext{
    font-weight: bold;
    font-style: italic;
    /* text-decoration: underline;  */
}

footer {
    background-color: darksalmon;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 20px;
    height: 50px;
    /* padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px; */
}

  @media (max-width:1600px){
    /* html {
        /* margin-right: 10rem;
        margin-left: 10rem; 
    }   */
    .column2 {
        flex: 50%;
        line-height: 0.8rem;
        column-count: 2 600px;
        column-rule-style: solid;
        column-rule-color: aliceblue;
        border-left: solid 10px darksalmon;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-right: auto;
    }
  }

  @media (max-width:1100px){
    html {
        float: left;
        display: flex;
        /* margin-right: 5px;
        margin-left: 5px; */
    } 
    .column1 {
        flex: 50%;
        line-height: 0.8rem;
        column-count: 2 600px;
        column-rule-style: solid;
        column-rule-color: aliceblue;
        border-left: solid 10px darksalmon;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        /* position: absolute;
        margin-top: 300px; */
    }
    .column2 {
        flex: 50%;
        line-height: 0.8rem;
        column-count: 2 600px;
        column-rule-style: solid;
        column-rule-color: aliceblue;
        border-left: solid 10px darksalmon;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    .nutrition{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 10pt;
        color: black;
        text-align: center;
        font-weight: 400;
    }
    .ingredients{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 10pt;
        color: black;
        text-align: center;
        font-weight: 400;
    }
    h6 {
        text-align: center;
        font-size: 13pt;
        line-height: 0.001rem;
    }
}

@media (max-width: 300px) {

}